:root{
   --white: white;
   --hover: orange;
   --black: black;
   --gray: gray;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header{
   background-color: rgb(27, 63, 110);
   padding: 10px;
   position: sticky;
   top: 0;
}

.header h1 a{
   color: var(--white);
   margin-left: 10px;
   text-shadow: 5px 3px var(--black);
}

.header a{
   text-decoration: none;
}

.header a:hover{
   color: var(--hover);
}

.nav{
   float: right;
   margin-right: 10px;
}

.nav ul{
   margin-top: -38px;
}

.nav li{
   display: inline;
   font-size: 25px;
   margin-left: 30px;
   text-shadow: 5px 3px var(--black);
}

.nav a{
   text-decoration: none;
   color: var(--white);
}

.nav a:hover{
   color: var(--hover);
}

.picture-intro{
   display: flex;
   justify-content: space-evenly;
   background-color: rgb(25, 56, 97);
   padding: 5vh 0vh 5vh 0vh;
}

.my-picture{
   width: 250px;
   border-radius: 50%;
}

.my-picture:hover{
   transform: scale(1.4);
}

.intro h1 {
   font-size: 60px;
   color: var(--white);
   text-shadow: 6px 3px var(--black);;
   margin-top: 5vh;
}

.intro h2{
   font-size: 30px;
   color: var(--white);
   text-shadow: 6px 3px var(--black);;
   float: right;
}

.about{
   padding: 3vh 0vh 3vh 0vh;
}

.about-container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.sub-about h2{
   font-size: 50px;
   text-align: center;
   text-shadow: 3px 3px var(--gray);
}

.about-bio p{
   font-size: 20px;
   padding: 0px 200px 0px 100px;
   line-height: 1.3;
   margin-top: 3vh;
}

.graduation img{
   width: 300px;
   margin-left: 10vw;
}

.projects{
   background-color: lightgray;
}

.sub-projects h2{
   font-size: 50px;
   text-align: center;
   text-shadow: 3px 3px var(--gray);
}

.cards-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 5vh;
   padding-bottom: 5vh;
   width: 94%;
}

.card{
   border: 2px solid lightgrey;
}

.card h3{
   font-size: 30px;
   text-shadow: 2px 2px var(--gray);
   text-align: center;
   margin-bottom: 2vh;
}

h4{
   text-align: center;
   margin-bottom: 10px;
   font-size: 17px;
   font-weight: 700;
}

h4 a{
   text-decoration: none;
   color: black;
}

h4 a:hover{
   color: orange;
}

.link-image img{  
   width: 510px;
   margin-bottom: 3vh;
}

.link-image img:hover{
   transform: scale(1.1);
}

.link-image2 img{  
   width: 500px;
   height: 280px;
}

.link-image2 img:hover{
   transform: scale(1.1);
}

footer{
   display: flex;
   justify-content: space-evenly;
   padding: 10vh 0vh 10vh 0vh;
}

.contact{
   background-color: rgb(27, 63, 110);
}

.contact-card{
   border: 2px solid rgb(27, 63, 110);
}

.contact-card h2{
   text-align: center;
   font-size: 40px;
   text-shadow: 5px 2px var(--black);;
   color: var(--white);
}

.email ul{
   text-align: center;
   list-style: none;
   margin-top: 20px;
   color: var(--white);
   line-height: 3vh;
}

.email a{
   text-decoration: none;
   color: var(--white);
}

.contact-card a:hover{
   color: var(--hover);
}

.icons-card{
   border: 2px solid rgb(27, 63, 110);;
}

.icons-card h2{
   text-align: center;
   font-size: 40px;
   text-shadow: 5px 2px var(--black);;
   color: var(--white);
}

.icons-card a{
   font-size: 40px;
   margin-left: 30px;
   color: var(--white);
}

.icons{
   margin-top: 20px;
}

.icons a:hover{
   color: var(--hover);
}

@media screen and (max-width: 980px) {
   .sub-about h2{
      font-size: 40px;
      text-align: left;
   }
   .about-bio p{
      text-align: center;
      padding: 0px 50px 20px 50px;
   }
   .graduation img{
      width: 220px;
      margin: 2vh 5vh 0vh 0vh;
   }
   .sub-projects h2{
      font-size: 40px;
   }
   .link-image img{
      width: 350px;
   }

   .link-image2 img{
      width: 350px;
      height: 193px;
   }
 }
 
 @media screen and (max-width: 700px) {
    .header h1{
      font-size: 30px;
    }
    .nav li{
       font-size: 22px;
    }
    .my-picture{
       width: 170px;
    }
   .intro h1{
     font-size: 40px;
   }
   .intro h2{
      font-size: 20px;
   }
   .sub-about h2{
      font-size: 35px;
      margin-left: 27vw;
   }
   .about-bio p{
      font-size: 15px;
      text-align: center;
      padding: 0px 50px 0px 50px;
   }
   .graduation img{
      width: 200px;
      margin: 5vh 5vh 0vh 0vh;
   }
   .sub-projects h2{
      font-size: 35px;
   }
   .card h3{
      font-size: 25px;
   }
   .link-image img{
      width: 290px;
   }

   .link-image2 img{
      width: 290px;
      height: 160px;
   }
   .contact-card h2{
      font-size: 30px;
   }
   .email li{
      font-size: 11px;
   }
   .icons-card h2{
      font-size: 30px;
   }
   
   .icons-card a{
      font-size: 25px;
   }
 }

 @media screen and (max-width: 550px){
    .header{
       margin-right: -20px;
    }
    .picture-intro{
       margin-right: -20px;
    }
    .my-picture{
      width: 150px;
   }
   .intro h1{
      font-size: 35px;
    }
    .intro h2{
       font-size: 17px;
    }
    .sub-about h2{
      font-size: 30px;
      margin-left: 27vw;
   }
   .about-bio p{
      font-size: 12px;
      text-align: center;
      padding: 0px 5px 0px 5px;
   }
   .graduation img{
      width: 130px;
      margin: 3vh 2vh 0vh 0vh;
   }
   .projects{
      margin-right: -20px;
   }
   .sub-projects h2{
      font-size: 30px;
   }
   .card h3{
      font-size: 20px;
   }
   .link-image img{
      width: 240px;
   }

   .link-image2 img{
      width: 240px;
      height: 133px;
   }
   footer{
      margin-right: -20px;
   }
   .contact-card h2{
      font-size: 30px;
   }
   .email li{
      font-size: 11px;
   }
   .icons-card h2{
      font-size: 30px;
   }
   
   .icons-card a{
      font-size: 25px;
   }
 }

 @media screen and (max-width: 375px) {
   .header h1{
     font-size: 18px;
   }
   .header h1 a{
      text-shadow: 2px 3px var(--black);
   }
   .nav ul{
      margin-top: -20px;
      margin-right: 3vh;
   }
   .nav li{
      font-size: 13px;
      margin-top: 5vh;
      text-shadow: 2.5px 2.5px var(--black);
   }
   .my-picture{
      width: 110px;
   }
  .intro h1{
    font-size: 20px;
    margin-right: 6vw;
    text-shadow: 2px 2.5px var(--black);
  }
  .intro h2{
     font-size: 10px;
     margin-right: 6vw;
     text-shadow: 2px 2.5px var(--black);
  }
  .sub-about h2{
     font-size: 25px;
     margin-left: 35vw;
     margin-top: -2vh;
     text-shadow: 1px 1.3px var(--gray);
  }
  .about-container{
   display: flex;
   flex-direction: column;
  }
  .about-bio p{
     font-size: 12px;
     text-align: center;
     padding: 0px 30px 0px 50px;
     margin-left: -7vw;
  }
  .graduation img{
     width: 150px;
     margin-left: 28vw;
  }
  .sub-projects h2{
     font-size: 25px;
     text-shadow: 1px 1.3px var(--gray);
  }
  .cards-container{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 0px 20px 20px 75px;
     margin-top: 30px;
  }
  .card h3{
     font-size: 15px;
     margin-left: -70px;
     text-shadow: 1px 1.5px var(--gray);
  }
  .link-image img{
     width: 220px;
  }

  .link-image2 img{
     width: 220px;
     height: 150px;
  }
  footer{
     padding-top: 25px;
  }
  .contact-card{
     margin-top: 4vh;
  }
  .contact-card h2{
     font-size: 21px;
     text-shadow: 3px 3px var(--black);
  }
  .email li{
     font-size: 9px;
  }
  .icons-card{
   margin-top: 4vh;
}
  .icons-card h2{
     font-size: 21px;
     text-shadow: 3px 3px var(--black);
  }
  
  .icons-card a{
     font-size: 20px;
     margin-left: 14px;
  }
}