:root{
   --white: white;
   --hover: orange;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header{
   background-color: rgb(27, 63, 110);
   padding: 10px;
   position: sticky;
   top: 0;
}

.header h1 a{
   color: var(--white);
   margin-left: 10px;
   text-shadow: 5px 3px black;
}

.header a{
   text-decoration: none;
}

.header a:hover{
   color: orange;
}

.nav{
   float: right;
   margin-right: 10px;
}

.nav ul{
   margin-top: -38px;
}

.nav li{
   display: inline;
   font-size: 25px;
   margin-left: 30px;
   text-shadow: 5px 3px black;
}

.nav a{
   text-decoration: none;
   color: var(--white);
}

.nav a:hover{
   color: var(--hover);
}

.picture-intro{
   display: flex;
   justify-content: space-evenly;
   background-color: rgb(25, 56, 97);
   padding: 5vh 0vh 5vh 0vh;
}

.my-picture{
   width: 250px;
   border-radius: 50%;
}

.my-picture:hover{
   transform: scale(1.4);
}

.intro h1 {
   font-size: 60px;
   color: var(--white);
   text-shadow: 6px 3px black;
   margin-top: 5vh;
}

.intro h2{
   font-size: 30px;
   color: var(--white);
   text-shadow: 6px 3px black;
   float: right;
}

.about{
   padding: 3vh 0vh 3vh 0vh;
}

.about-container{
   display: flex;
   justify-content: space-evenly;
}

.sub-about h2{
   font-size: 50px;
   text-align: left;
   margin-left: 430px;
   text-shadow: 3px 3px gray;
}

.about-bio p{
   font-size: 17px;
   padding: 0px 200px 0px 200px;
   line-height: 1.3;
   text-align: center;
   margin-top: 3vh;
}

.graduation img{
   width: 350px;
   margin: -3vw 5vh 0vh 0vh;
}

.projects{
   background-color: lightgray;
}

.sub-projects h2{
   font-size: 50px;
   text-align: center;
   text-shadow: 3px 3px gray;
}

.cards-container{
   display: flex;
   justify-content: space-evenly;
   margin-top: 5vh;
   padding-bottom: 5vh;
}

.card{
   border: 2px solid lightgrey;
}

.card h3{
   font-size: 30px;
   text-shadow: 2px 2px gray;
   text-align: center;
}

.link-image img{  
   width: 400px;
}

.link-image img:hover{
   transform: scale(1.3);
}

.link-image2 img{  
   width: 400px;
   height: 550px;
}

.link-image2 img:hover{
   transform: scale(1.3);
}

footer{
   display: flex;
   justify-content: space-evenly;
   padding: 10vh 0vh 10vh 0vh;
}

.contact{
   background-color: rgb(27, 63, 110);
}

.contact-card{
   border: 2px solid rgb(27, 63, 110);
}

.contact-card h2{
   text-align: center;
   font-size: 40px;
   text-shadow: 5px 2px black;
   color: var(--white);
}

.email ul{
   text-align: center;
   list-style: none;
   margin-top: 20px;
   color: var(--white);
}

.email a{
   text-decoration: none;
   color: var(--white);
}

.contact-card a:hover{
   color: var(--hover);
}

.icons-card{
   border: 2px solid rgb(27, 63, 110);;
}

.icons-card h2{
   text-align: center;
   font-size: 40px;
   text-shadow: 5px 2px black;
   color: var(--white);
}

.icons-card a{
   font-size: 40px;
   margin-left: 30px;
   color: var(--white);
}

.icons{
   margin-top: 20px;
}

.icons a:hover{
   color: var(--hover);
}

@media screen (min-width: 792px) and (max-width: 992px) {
   .card {
     width: 100%;
   }
   .my-picture{
      width: 200px;
   }
 }
 
 @media screen and (max-width: 768px) {
    .header{
       width: 100vw !important;
    }
   .card {
     width: 100%;
   }
 }
